*{
    margin:0px;
    padding:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background: linear-gradient(#c8b954, transparent);
}

.uk-container {
    border: 0.3px solid #00000024;
    border-radius: 20px;
    box-shadow: -4px -4px 5px 0px rgba(196,133,217,0.98);
}

h1, .warning{
    text-align: center;
}

.uk-container{
    margin: 20vh 25%;
}

.uk-column-1-2, .uk-column-1-4{
    align-items: center;
}

div{
    &#col-num {
        margin-top: 10px !important;
    }
    &#col-num:nth-child(5){
        margin-top: 10px !important;
        margin-bottom: 40px !important;
    }
}

.num, .ops, #clear{
    height: 3em;
}

#reset-div, #viewer-div{
    margin-left: -16px;

}

button{
    background: #f1f3f4;
    border-radius: 10px;
    border: 0.1px solid salmon;
    &#reset{
      background:#a4acbba1;
      margin: 10px 0 30px 0;
      height: 3em;
      display: none;
      &:hover{
          background: #aeacac;
      }
    }
    &:hover{
        background: #e6e6e6;
    }
    &.ops{
        background: #a4acbba1;
        &:hover{
            background: #aeacac;
        }
    }
    &#clear{
        background: #a4acbba1;
        padding-left: 0px;
        height: auto;
        &:hover{
            background: #aeacac;
        }
    }
    &#equals{
        background: #4285f4;
        &:hover{
            background:#3367bc;        
        }
            
    }
}

#viewer-div{
    background: #f1f3f4;
    border-radius: 10px;
    border: 0.1px solid salmon;
    font-size: 2em;
}


body {
    background-size: cover;
    height: 150vh;


}

.democlass{
    text-align: center;
    /* margin: 0; */
    margin: 25%;
    justify-items: center;
    align-self: center;
}